doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        //- TODO: Fill in other metadata
        title Web Factory Game
        link(rel="stylesheet", href=require('./scss/index.scss'))
        script(module src=require('./ts/index.ts'))
    body
        canvas#gameCanvas
